<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="myLibrary.first.dao.MemberDao">
  
  <resultMap type="member" id="memberMap">
    <id column="meb_id"   property="id"/>
    <result column="meb_pw"  property="pw"/>
  
  </resultMap>
  
  <!-- 회원이 책정보를 가지고 있어야하니까 member 매퍼에 join -->
  
  
  <sql id="select1">
    select
     meb_id,
     meb_pw
    from
     member
  </sql>
  
  <!-- 회원가입 할때. -->
  <insert id="join" parameterType="member"
          useGeneratedKeys="true" keyColumn="meb_id" keyProperty="id">
    insert into member(
      meb_id,
      meb_pw)
    values(
      #{id},
      password(#{pw}) ) 
  </insert><!-- 바깥 괄호를 안쓰다니... -->
  
  <!-- 로그인할때.  -->
  <select id="findByIdPassword" resultMap="memberMap" parameterType="map">
    select
      meb_id,
      meb_pw
    from
      member
    where
      meb_id = #{id}
      and meb_pw = password(#{pw})
  </select>
  
  
  <!-- 회원탈퇴 할때. -->
  <delete id="ban" parameterType="String">
    delete from member
    where meb_id = #{id}
  </delete>

</mapper>










