#roof{
  height:50px;
  padding-top: 35px;
}


#newBookTable{
  text-align:center;
}

#addLine{
  width: 1100px;
}

#bookTitle{
  width: 500px;
}
#bookAuthor{
  width: 300px;
}
bookPrice{
  width: 100px;
}

#readAddTable{
  text-align:center;
}

#RegiBtnArea{
  width:120px;
}

#readListTable{
  margin-bottom:50px;
}


#selectBookArea{
  width:560px;
}

#selectBox{
  width:535px;
}

#bookNoTitle{
  text-align:center;
}

#bookNum{
  text-align:center;
}

#manageTitle{
  text-align:center;
}

#managebuttons{
  text-align:center;
  width: 55px;
  
}

#readList{
  text-align:center;
}

